

html{
    background-color: black;
    color: white;
}
nav,#main1,#main2,#main3,#main4,#main5,#main6,#main7,#footer,#final
{
    padding-left: 70px;
    padding-right: 70px;
}
nav{
   

position: fixed;
right: 0px;
left: 0px;
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    height: 35px;
    border-bottom:1px solid rgba(220, 220, 220, 0.16); ;

}
#nav1
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#nav1>div>a
{
    text-decoration: none;
    color: white;
  
}
.b>img{
    margin-right: 20px;
    height: 30px;
    width: 30px;
}

.b>a{
    margin-right: 20px;
    text-align: center;
}
#nav2>input{
    height: 23px;
    background-color: black;
    border: 0px solid lightgray;
    color: white;
}

.btn
{
    padding: 7px;
    color: white;
    background-color: rgb(0, 120, 212);
  
   
    border-radius: 5px;
    
}
.btn:hover
{
    background-color: rgba(126, 167, 180, 0.501);
   
}
#a1
{
    padding-top: 50px;
    text-align: center;
}

#main1,#main2,#main3,#main4,#main5,#main6
{
    margin-top: 140px;
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: chocolate; */

}
.left
{
    /* background-color: aqua; */
    height: 530px;
    width: 300px;

}
#main1>.left>h1{
    font-size: 53px;
}
.z
{
    font-size: 31.5px;
}

.right
{
    /* background-color: chartreuse; */
    margin-left: 50px;
    height: 530px;
    width: 720px;
}
#main1p
{
    border: 1p solid  rgba(220, 220, 220, 0.16);
    background-color:  rgba(220, 220, 220, 0.16);
    border-radius: 8px;
    padding: 7px;
    width: 300px;
    height: 23px;
}
#main2>.left
{
    margin-top: 150px;

}
#main2>.right
{
    /* background-color: aqua; */
    margin-left: 50px;
    margin-top: 150px;
    height: 300px;
    width: 700px;
}

#img1
{
    width:720px;
    height: 410px;

} 

#icon
{
    width:700px;
    height: 220px;
}

.right_1
{
    /* background-color: aqua; */
    margin-left: 50px;
    display: grid;
    grid-template-columns:repeat(3,250px) ;
    grid-template-rows: repeat(3,auto);
    width:800px;
   
}
.box
{
    background-color: rgba(220, 220, 220, 0.16);
    border:1px solid rgba(220, 220, 220, 0.16);
    display: grid;
    grid-template-columns: repeat(2,90px);
    width: 220px;
    height: 110px;
    border-radius: 10px;
}
.box_1{
    width: 20px;
}

.box_1>img{
    padding: 10px;
    padding-left: 15px;
    height: 50px;
    width: 50px;
}
.box_2
{

    padding-top: 10px;
    width:155px ;
}
.box_21
{
    font-size: 20px;
}
a{
    color: rgb(0, 120, 212);;
}
#p_2
{
    margin-top: -30px;
    margin-left: 700px;
    
}


.main4p{
    font-size: 16px;
    color: rgb(157, 156, 156);
}
#size1
{
    font-size: 37px;
}

#main7
{
    margin-top: 50px;
    display: grid;
    grid-template-columns:repeat(4,280px);
    grid-template-rows:repeat(2,auto) ;
    height: 500px;
    /* background-color:chartreuse; */
}
.end
{
    background-color: rgba(220, 220, 220, 0.16);
    border:1px solid rgba(220, 220, 220, 0.16);

    height: 180px;
    border-radius: 10px;
    width: 220px;
    padding: 20px;

}
.end:hover
{
    border:1px solid rgba(220, 220, 220, 0.364);
}
.end>div
{
    width: 50px;
    height: 50px;
    background-color:rgba(220, 220, 220, 0.16);
    border-radius: 10px;
}
.end>div>img{
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

#footer
{
    
    height:100px;
        display: flex;
        flex-direction:  row;
        justify-content: space-between;
        height: 35px;
}

#footer1
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.f_1>img{
    margin-right: 20px;
    height: 25px;
    width: 25px;
}

#footer2>img
{
    margin-top: 50px;
}
#final
{
    width: 330px;
    height: 100px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.fl 
{
    color: rgb(157, 156, 156);
    font-size:small;
    margin-right: 27px;

}